.headerLogo {
  font-size: 1.5rem;
  margin: 0px 0px 0px 1rem;
  color: rgb(255, 80, 110);
  color: var(--padThirdColor);
}

.headerLogo > span {
  color: rgb(230, 230, 230);
  color: var(--whiteColor);
}
