.divVolumeSlider{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
    width: 100%;
    margin: 0.5rem 0px;
}

.iconVolumeOff{
    color: var(--main-black);
    cursor: pointer;
    width: 1rem;
    text-shadow: none; 
    transition: text-shadow 1s; 
}  

.iconVolumeOn{ 
  color: var(--main-black);
  cursor: pointer;
  width: 1rem;
  text-shadow: 0px 0px 0.1rem var(--pad-second-color);
  transition: text-shadow 1s;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent; 
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    height: 0.4rem;  
    cursor: pointer;
    background: var(--main-black);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--main-dark-gray);
    box-shadow: 0.03rem 0.03rem 0.3rem black;
    transition: box-shadow 1s;
  }

  input[type=range].sliderOn::-webkit-slider-runnable-track{
    box-shadow: 0.03rem 0.03rem 0.3rem black, 0px 0px 0.2rem 0.02rem var(--pad-second-color);
    transition: box-shadow 1s;
  }
  
  input[type=range]::-webkit-slider-thumb {
    border: 0.06rem solid var(--main-dark-gray);
    border-radius: 0.5rem;
    height: 1.4rem;
    width: 0.7rem;
    background: var(--light-gray);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.6rem; 
    box-shadow: 0.06rem 0.06rem 0.3rem black;
    
  }
  
  input[type=range]::-moz-range-track {
    height: 0.4rem;
    cursor: pointer;
    box-shadow: 0px 0px 0.1rem 0.01rem var(--slider-color);
    background: #000000;
    border-radius: 0.5rem;
    border: 0.05rem solid var(--main-dark-gray);
    box-shadow: 0.03rem 0.03rem 0.3rem black;
    transition: box-shadow 1s;
  }

  input[type=range].sliderOn::-moz-range-track{
    box-shadow: 0.03rem 0.03rem 0.3rem black, 0px 0px 0.2rem 0.02rem var(--pad-second-color);
    transition: box-shadow 1s;
  }
  
  input[type=range]::-moz-range-thumb {
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
    background: #ffffac;
    cursor: pointer;
    height: 1.4rem;
    width: 0.7rem;
    box-shadow: 0.06rem 0.06rem 0.3rem black;
  }
  
  input[type=range]::-ms-track {
    height: 0.4rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: 0.03rem 0.03rem 0.3rem black;
    transition: box-shadow 1s;
  }

  input[type=range].sliderOn::-ms-track{
    box-shadow: 0.03rem 0.03rem 0.3rem black, 0px 0px 0.2rem 0.02rem var(--pad-second-color);
    transition: box-shadow 1s;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0.05rem solid var(--main-dark-gray);     
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.1rem 0.01rem var(--slider-color);
  }
  
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0.05rem solid var(--main-dark-gray);     
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.1rem 0.01rem var(--slider-color);
  }
  
  input[type=range]::-ms-thumb {
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
    height: 1.4rem;
    width: 0.7rem;
    background: #ffffac;
    cursor: pointer;
    box-shadow: 0.06rem 0.06rem 0.3rem black;
  }
  
  input[type=range]:focus::-ms-fill-lower {
    background: #000000;
  }
  
  input[type=range]:focus::-ms-fill-upper {
    background: #000000;
  }