@font-face {
  font-family: "digital-7";
  src: url("https://res.cloudinary.com/fjplaurr/raw/upload/v1564850933/Web%20Development/Fonts/digital-7/digital-7_cv8j5n.ttf");
}

:root{
  --pad-first-color: rgb(255,90,255);
  --pad-second-color: rgb(50,200,255);
  --pad-third-color: rgb(255,80,110);
  --main-black: rgb(16, 16, 16);  
  --main-dark-gray: rgb(48,48,48);
  --light-gray: rgb(100,100,100); 
  --screen-light-green: rgb(45,60,45);
  --scren-dark-green: rgb(30, 45, 30);
  --screen-playlist-orange: rgb(240, 100, 20);
} 

.App {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Controls{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0px 0.5rem 0px 0px;
}

.Grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*Same as 1fr 1fr 1fr*/
  grid-template-rows: repeat(3,1fr);
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  justify-items: center;
  align-items: center;
  margin: 0.5rem 0px 1rem 0px;
}

.drumMachine{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  background: linear-gradient(to bottom right, var(--main-black) , var(--main-dark-gray), var(--light-gray), var(--main-dark-gray));
  border: 0.2rem solid var(--main-dark-gray);
  padding: 0px 0.6rem;
  border-radius: 1rem;
}

.divHeaderControls{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: 0.5rem 0px 1rem 0px;
}

.drum-pad{
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 0px;
  background-color: var(--main-black);
  outline: none;
  border: 0.1rem solid var(--main-dark-gray);
  color: var(--light-gray);
  font-family: 'Orbitron', sans-serif;
  font-size: 0.5rem;
}

.drum-pad.drumOn:nth-child(3n+1){
  box-shadow: 0px 0px 0.1rem 0.01rem var(--pad-first-color);
  transition: box-shadow 1s;
}

.drum-pad.drumOn.drumActivated:nth-child(3n+1){
  box-shadow: 0px 0px 0.5rem 0.02rem var(--pad-first-color);
  color: var(--pad-first-color);
  transition: box-shadow 0s;
}

.drum-pad.drumOn:nth-child(3n+2){
  box-shadow: 0px 0px 0.1rem 0.01rem var(--pad-second-color);
  transition: box-shadow 1s;
}

.drum-pad.drumOn.drumActivated:nth-child(3n+2){
  box-shadow: 0px 0px 0.5rem 0.02rem var(--pad-second-color);
  color: var(--pad-second-color);
  transition: box-shadow 0s;
}

.drum-pad.drumOn:nth-child(3n+3){
  box-shadow: 0px 0px 0.1rem 0.01rem var(--pad-third-color);
  transition: box-shadow 1s;
}

.drum-pad.drumActivated.drumOn:nth-child(3n+3){
  box-shadow: 0px 0px 0.5rem 0.02rem var(--pad-third-color);
  color: var(--pad-third-color);
  transition: box-shadow 0s;
}

.drumOff{
  box-shadow: none;
  transition: box-shadow 1s;
}

.drumVisualizer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid rgb(12, 12, 12);
  border-width: 0.3rem 0.5rem;
  outline: 0.1rem solid var(--main-dark-gray);
  background: linear-gradient(to bottom right, var(--scren-dark-green), var(--screen-light-green));
  font-family: 'Orbitron', sans-serif;
  font-size: 0.5rem;
  text-align: center;
  margin: 0.1rem 0px;
  height: 1.4rem;
}

.divPlaySelectors{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.butPlayList{
  background-color: var(--main-black);
  outline: none;
  border: 0.1rem solid var(--main-dark-gray);
  cursor: pointer;
  width: 45%;
  height: 1.5rem;
  text-align: center;
  padding: 0px;
  color: var(--light-gray);
  margin: 0.1rem 0px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: none;
  transition: box-shadow 1s, color 1s;
}

.butPlayList.plListActive{
  box-shadow: 0px 0px 0.5rem 0.02rem var(--pad-second-color);
  color: var(--pad-second-color);
  transition: box-shadow 1s, color 1s;

}


.butPlayList.plListDisabled{
  box-shadow: 0px 0px 0.1rem 0.01rem var(--pad-second-color);
  transition: box-shadow 1s;
}

.divHeader{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.headerLogo{
  margin: 0px 0px 0px 0.5rem;
  color: var(--pad-third-color);
  font-size: 1rem;
}

.headerLogo > span{
  color: whitesmoke;
}


.powerButton{
  border: none;
  outline:none;
  cursor: pointer;
  text-shadow: 0 0 0.1rem;   
  background-color: var(--main-black);
  border: 0.1rem solid var(--main-dark-gray);
  height: 1.2rem;
  width: 1.2rem;
  text-align: center;
  padding: 0px;
  margin: 0.1rem 0px;
}

.powerOn{
  color: rgb(50, 200, 100);
  box-shadow: 0px 0px 0.1rem 0.01rem rgb(50, 200, 100);
  transition: box-shadow 1s, color 1s;
}

.powerOff{
  color: var(--main-dark-gray);
  box-shadow: none;
  transition: box-shadow 1s, 1s;
}

.drumVisLeft{
  margin: auto 0px auto 0.2rem;
}

.drumVisRight{
  margin: auto 0.2rem auto 0px;
}