.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.drumMachine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right, rgb(10, 10, 10) 40%, rgb(50, 50, 50), rgb(80, 80, 80));
  background: linear-gradient(to bottom right, var(--blackColor) 40%, var(--darkGrayColor), var(--lightGrayColor));
  border-bottom: 0.2rem solid rgb(50, 50, 50);
  border-bottom: 0.2rem solid var(--darkGrayColor);
  border-right: 0.2rem solid rgb(50, 50, 50);
  border-right: 0.2rem solid var(--darkGrayColor);
  border-left: 0.2rem solid rgb(10, 10, 10);
  border-left: 0.2rem solid var(--blackColor);
  border-top: 0.2rem solid rgb(10, 10, 10);
  border-top: 0.2rem solid var(--blackColor);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem black;
  margin: 4rem;
}

.divHeaderControls {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  flex: 1 0 auto;
}

.divHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Controls {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  flex: 1 0 auto;
}

.Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr); /* adjusted */
  grid-template-columns: repeat(3, minmax(5rem, 1fr)); /*Same as 1fr 1fr 1fr*/
  grid-gap: 1rem;
  margin: 2rem;
  flex: 1 0 auto;
}

.Grid > button:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.Grid > button:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.Grid > button:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.Grid > button:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.Grid > button:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.Grid > button:nth-of-type(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.Grid > button:nth-of-type(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.Grid > button:nth-of-type(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.Grid > button:nth-of-type(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.divPlaySelectors {
  display: flex;
  flex: 1 0 auto;
}

.divPlaySelectors > * {
  flex: 1 0 auto;
}

div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
