body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(112, 128, 144);
}

html, body, #root{
  height: 100%;
  width: 100%;
}

:root{
  --padFirstColor: rgb(255,90,255);
  --padSecondColor: rgb(50,200,255);
  --padThirdColor: rgb(255,80,110);
  --blackColor: rgb(10, 10, 10);  
  --darkGrayColor: rgb(50,50,50);
  --lightGrayColor: rgb(80,80,80); 
  --screenLightGreenColor: rgb(45,60,45);
  --screenDarkGreenColor: rgb(30, 45, 30);
  --powerOnColor: rgb(50, 200, 100);
  --whiteColor: rgb(230, 230, 230);
} 
